<!--<div class="card" style="width: 18rem;" *ngIf="item">-->
<!--  <img src={{item.image}} class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{item.name | convertToSpacesPipe: '-'}}</h5>-->
<!--    <p class="card-text">-->
<!--      Height: {{item.height}}cm <br />-->
<!--      Weight: {{item.mass}}kg <br />-->
<!--      Birth Year: {{item.born}} <br />-->
<!--      Gender: {{item.gender}}-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->
<div class="bg_card" style="background-image: url({{item.image}})" *ngIf="item"></div>
